#header-modal-text .bg {
    background-image: url('../images/bg-83.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity:1;
}
#header-search-2 .bg {
	background-position: right center;
	background-repeat: No-repeat;
	background-size: cover;
	background-image: url('../images/more-labrodor.jpg');
}

#text-1col .bg-wrap {
	background: #ffffff;
}