#header-text-2 .bg {
    background-image: url('../images/bg-42.jpg');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    opacity:1;
}
#header-search-2 .bg {
	background-position: right center;
	background-repeat: No-repeat;
	background-size: cover;
	background-image: url('../images/more-labrodor.jpg');
}
#header-search-2 .bg-wrap {}

#text-2col .bg-wrap {
	background: #ffffff;
}

#text-2col--0 .bg-wrap {
	background: linear-gradient(135deg, #20b9dd, #4489e0);
}

#text-2col--1 .bg-wrap {
	background: #ffffff;
}

#text-2col--2 .bg-wrap {
	background: linear-gradient(135deg, #4489e0, #20b9dd);
}

#text-2col--3 .bg-wrap {
	background: #ffffff;
}